*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Couleur du texte et fond noir */
body{
    color: white;
    background-color: black;
}

/* Taille et ombrage de la calculatrice */
.calculator{
    max-width: 400px;
    height: auto;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

/* Alignement , taille , et bordure du display */
#display {
    text-align: right;
    height: 100px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border: 3px solid #999;
}

/* Emplacement et bordure de tous les boutons (Chiffres et Operators) */
.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Bordure d'un bouton , le curseur qui devient un pointeur quand on passe la souris dessus , taille et emplacement de la police */
.button{
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.buttons > * {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
    border: 2px solid lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Couleur d'un bouton quand on passe la souris dessus */
.button:hover{
    background-color: grey;
    color: white;
    transition: 0.5s ease-in-out;
}

/* La couleur de fond du signe " = " */
#equal{
    background-color: green;
}

/* Le bouton "AC" prends plus de place que les autres */
div[data-key = 'AC']{
    grid-column: 1/4;
}

/* Le bouton "0" prends plus de place que les autres */
div[data-key = '0']{
    grid-column: 1/3;
}

/* Couleur du "AC" */
#clear{
    color: red;
}

/* Couleur des operators */
#operator{
    color: green;
}
